<div class="row">
  <div class="row form-inline" style="margin-top: 10px;">
    <label>Status: </label>&nbsp;&nbsp;
    <!--<input ng-model="status" class="form-control">-->
    <select class="form-control" ng-model="status">
      <option ng-value="" ng-selected="true"></option>
      <option ng-value="10">10:initialization</option>
      <option ng-value="20">20:exception</option>
      <option ng-value="21">21:git exception</option>
      <option ng-value="22">22:network exception</option>
      <option ng-value="30">30:Unfinished, need manual work.</option>
      <option ng-value="31">31:Unfinished, source_url is found, need manual work.</option>
      <option ng-value="33">33:Unfinished, name analysis need manual work.</option>
      <option ng-value="40">40:Auto Completed.</option>
      <option ng-value="41">41:Manual completed.</option>
      <option ng-value="42">42:Manual finished, source code not found.</option>
      <option ng-value="43">43:Manual finished, license_text not found.</option>
    </select>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-primary" ng-click="search_packs()" ng-disabled="status==''">
      Search
    </button>
  </div>
  <table class="table table-striped packs_search">
    <thead>
    <th>
    <td>Actions</td>
    <td><a ng-click="sortType = 'name'; sortReverse = !sortReverse;" class="btn-link">Package Name</a></td>
    <td><a ng-click="sortType = 'version'; sortReverse = !sortReverse;">Version</a></td>
    <td><a ng-click="sortType = 'language'; sortReverse = !sortReverse;" class="btn-link">Language</a></td>
    <!--<td>Homepage</td>-->
    <td><a ng-click="sortType = 'source_url'; sortReverse = !sortReverse;" class="btn-link">Source URL</a></td>
    <td><a ng-click="sortType = 'licenses'; sortReverse = !sortReverse;" class="btn-link">Sim Ratio</a></td>
    <td><a ng-click="sortType = 'licenses'; sortReverse = !sortReverse;" class="btn-link">Licenses</a></td>
    <td><a ng-click="sortType = 'status'; sortReverse = !sortReverse;" class="btn-link">Status</a></td>
    </th>
    </thead>
    <tbody>
    <tr ng-repeat="p in packs | orderBy: sortType: sortReverse">
      <td>
        <a ng-click="runPackTask(p.id)" title="Run" class="btn-link">
          <i class="fa" ng-class="{'fa-play': p.status < 40, 'fa-repeat': p.status >= 40}"></i>
        </a>
      </td>
      <td>
        <a ui-sref="components.show.rv.show.pv.show({
          componentId: 1,
          repoId: 1,
          packId: p.id})"
        target="_blank">
          {{p.name}}
        </a>
      </td>
      <td>
        <span title="{{p.version}}">{{p.version | limitTo : 9 : 0 }}</span></td>
      <td>{{p.language}}</td>
      <!--<td>{{p.meta.homepage}}</td>-->
      <td style="word-break: break-all; word-wrap:break-word;">
        <a href="{{p.source_url}}" target="_blank" >{{p.source_url}}</a>
      </td>
      <td><div ng-repeat="license in p.licenses">
        <span title="Similarity Ratio"
              ng-class="{'text-success': license.sim_ratio >= 0.8, 'text-danger': license.sim_ratio <= 0.4, 'text-warning': license.sim_ratio > 0.4 &amp;&amp; license.sim_ratio < 0.8, 'hide': l.sim_ratio === null}" class="ng-binding text-success">{{license.sim_ratio | percentage:2}}</span>
      </div></td>
      <td style="word-break: break-all; word-wrap:break-word;"><div ng-repeat="license in p.licenses">{{license.name}}</div></td>
      <td>
        <uib-progress ng-show="p.status>=40">
          <uib-bar value="100" type="success"><span>{{p.status}}</span></uib-bar>
        </uib-progress>
        <uib-progress ng-show="p.status>29&&p.status<40">
          <uib-bar value="100" type="warning"><span>{{p.status}}</span></uib-bar>
        </uib-progress>
        <uib-progress ng-show="p.status<=29">
          <uib-bar value="100" type="danger"><span>{{p.status}}</span></uib-bar>
        </uib-progress>
      </td>
    </tr>
    <tr ng-hide="packs.length">
      <td colspan="8" class="text-center">No contents</td>
    </tr>
    </tbody>
  </table>
</div>
</div>